<% extend('layout/masterChat') %>

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Welcome to App Chat Kỳ Smile
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="zmdi zmdi-home"></i> App Chat</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Change Password</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Basic Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header text-center">
                        <h1>Change Password</h1>
                        
                    </div>
                    <div class="body">
                        <form id="form_validation" method="POST" action="/update-password">
                            <div class="form-group form-float">
                                <input type="password" class="form-control" placeholder="Password Current" name="currentPassword" required>
                            </div>
                            <div class="form-group form-float">
                                <input type="password" class="form-control" placeholder="New Password" name="NewPassword" required>
                            </div>
                            <div class="form-group form-float">
                                <input type="password" class="form-control" placeholder="Confirm Password" name="confirmNewPassword" required>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <input id="checkbox" type="checkbox">
                                    <label for="checkbox">I have read and accept the terms</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <a href="/edit"><i class="zmdi zmdi-long-arrow-right"></i>&nbsp; Edit User ???</a>
                                </div>
                            </div>
                            <button class="btn btn-raised btn-primary btn-round waves-effect" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</section>