<% extend('layout/masterChat') %>

<section class="content contact">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Chào mừng
                <small class="text-muted">bán đến với App Chat Kỳ Smile</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index-2.html"><i class="zmdi zmdi-home"></i> App Chat</a></li>
                    <li class="breadcrumb-item active">Contact</li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12 request-contact-mobile" >
                <button type="button" class="btn btn-simple dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="zmdi zmdi-label"></i>
                    <span class="caret">Tìm Liên hệ</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right slideDown dropdown-menu-mobile">
                    <li data-contact="1">
                        <a href="javascript:void(0);">Tìm Liên hệ</a>
                    </li>
                    <li data-contact="2">
                        <a href="javascript:void(0);">Danh Bạ <span class="color-r">(10)</span></a>
                    </li>
                    <li data-contact="3">
                        <a href="javascript:void(0);">Yêu Cầu Kết Bạn <span class="color-r">(1)</span></a>
                    </li>
                    <li data-contact="4">
                        <a href="javascript:void(0);">Đang Chờ Xác Nhận <span class="color-r">(2)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card action_bar">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-12">
                                <div class="input-group search">
                                    <input id="search-user-to-add-frient" type="text" class="form-control" placeholder="Tìm kiếm liên hệ...">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-search"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="btn-group hidden-sm-down" role="group">
                                    <div class="btn-group request-contact">
                                        <button type="button" class="btn btn-simple dropdown-toggle btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="zmdi zmdi-label"></i>
                                            <span class="caret">Tìm Liên hệ</span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right slideDown">
                                            <li data-contact="1">
                                                <a href="javascript:void(0);">Tìm Liên hệ</a>
                                            </li>
                                            <li data-contact="2">
                                                <a href="javascript:void(0);">Danh Bạ <span class="color-r">(10)</span></a>
                                            </li>
                                            <li data-contact="3">
                                                <a href="javascript:void(0);">Đang Chờ Xác Nhận <span class="color-r">(2)</span></a>
                                            </li>
                                            <li data-contact="4">
                                                <a href="javascript:void(0);">Yêu Cầu Kết Bạn <span class="color-r">(1)</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="card divContact" style="margin-bottom: 0px;">
                                    <!-- table render-->
                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</section>
<script>
$(function(){
    $('.slideDown > li').on('click',function(){
        $('.caret').html($(this).find('a').html().split('<')[0]);
        let type = $(this).attr('data-contact');
        (type == 1) ? $('.search').css({'display':'flex'}) : $('.search').css({'display':'none'});
        getListUserContact(type);
        
    })
})
function getListUserContact(type){
    $.ajax({
        url  : '/get-data-by-type',
        type : 'GET',
        data : { type : type },
        success : function (data) {
            $('.divContact').html(data.tableUserSide);
        }
    })
}
</script>