<% extend('layout/masterAuth') %>

<div class="col-md-12 content-center">
    <div class="card-plain">
        <form class="form" method="POST" action="/login">
            <div class="header">
                <h5>App Chat KỳSmile</h5>
            </div>
            <div class="content">                                                
                <div class="input-group input-lg">
                    <input type="text" class="form-control" autocomplete="off" name="email" placeholder="Enter User Name">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-account-circle"></i>
                    </span>
                </div>
                <div class="input-group input-lg">
                    <input type="password" placeholder="Password" name="password" class="form-control" />
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">Sign In</button>
                <a href="index-2.html" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"><i class="zmdi zmdi-facebook"></i> Login Facebook</a>
                <a href="index-2.html" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"><i class="zmdi zmdi-google"></i> Login Google</a>
                <h6 class="m-t-20"><a href="/forgot-password" class="link">Forgot Password ? </a><label for="terms"><a href="/sign-up"> Sign Up</a></label></h6>
            </div>
        </form>
    </div>
</div>

