<% extend('layout/masterAuth') %>

<div class="col-md-12 content-center">
    <div class="card-plain">
        <form class="form" method="POST" onsubmit="return validateForm()" action="/register">
            <div class="header">
                <div class="logo-container">
                    <img src="assets/images/logo.svg" alt="">
                </div>
                <h5>Sign Up</h5>
            </div>
            <div class="content">
                <div class="input-group">
                    <input type="text" id="email" class="form-control" autocomplete="off" name="email" placeholder="Enter Email">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-email"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="password" id="password" placeholder="Password" autocomplete="off" name="password" class="form-control" />
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" autocomplete="off" name="confirmPassword" class="form-control" />
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                </div>          
            </div>
            <div class="checkbox">
                    <input id="terms" type="checkbox">
                    <label for="terms">
                            I read and agree to the <a href="javascript:void(0);">terms of usage</a>
                    </label>
                </div>
            <div class="footer text-center">
                <button type="submit" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">SIGN UP</button>
                <h6 class="m-t-20"><a class="link" href="/sign-in">You already have a membership?</a></h6>
            </div>
        </form>
    </div>
</div>
