<% extend('layout/masterAuth') %>
<script type="text/javascript">
    function isEmail(email) {
        return /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
    }

    function validateForm() {
        let email = $('#email').val();
        let address = $('#address').val();
        let phone = $('#phone').val();
        let password = $('#password').val();
        let confirmPassword = $('#confirmPassword').val();
        if (email == "") {
            swal("Bạn chưa nhập Email", "", "warning").
            then(function() {
                $('#email').focus();
            });
            return false;
        } else if (address == "") {
            swal("Bạn chưa nhập Địa Chỉ", "", "warning").
            then(function() {
                $('#address').focus();
            });
            return false;
        }else if (phone == "") {
            swal("Bạn chưa nhập số điện thoại", "", "warning").
            then(function() {
                $('#phone').focus();
            });
            return false;
        } else if (password == "") {
            swal("Bạn chưa nhập mật khẩu", "", "warning").
            then(function() {
                $('#password').focus();
            });
            return false;
        } else if (confirmPassword == "") {
            swal("Bạn cần nhập lại mật khẩu 1 lần nữa để xác nhận", "", "warning").
            then(function() {
                $('#confirmPassword').focus();
            });
            return false;
        }  else {
            if(!($('#terms')[0].checked)){
                swal("Bạn cần tích chọn đồng ý với các điều khoản trước khi đăng kí tài khoản !!! ", "", "warning").
                then(function() {
                });
                return false;
            }
        }
    }
</script>
<div class="col-md-12 content-center">
    <div class="card-plain">
        <form class="form" method="POST" onsubmit="return validateForm()" action="/register">
            <div class="header">
                <div class="logo-container">
                    <img src="assets/images/logo.png" alt="">
                </div>
                <h5>Sign Up</h5>
            </div>
            <div class="content">
                <div class="input-group">
                    <input type="text" id="email" class="form-control" autocomplete="off" name="email" placeholder="Enter Email">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-email"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="text" id="address" class="form-control" autocomplete="off" name="address" placeholder="Enter Address">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-pin"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="text" id="phone" class="form-control" autocomplete="off" name="phone" placeholder="Enter Phone">
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-phone"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="password" id="password" placeholder="Password" autocomplete="off" name="password" class="form-control" />
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                </div>
                <div class="input-group">
                    <input type="password" id="confirmPassword" placeholder="Confirm Password" autocomplete="off" name="confirmPassword" class="form-control" />
                    <span class="input-group-addon">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                </div>          
            </div>
            <div class="form-group">
                <div class="radio inlineblock m-r-20">
                    <input type="radio" class="gender" name="gender" checked id="male" class="with-gap" value="male" required>
                    <label for="male">Male</label>
                </div>                                
                <div class="radio inlineblock">
                    <input type="radio" class="gender" name="gender" id="Female" class="with-gap" value="female" required>
                    <label for="Female">Female</label>
                </div>
            </div>
            <div class="checkbox">
                <input id="terms" type="checkbox">
                <label for="terms">
                        I read and agree to the <a href="javascript:void(0);">terms of usage</a>
                </label>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light">SIGN UP</button>
                <h6 class="m-t-20"><a class="link" href="/sign-in">You already have a membership?</a></h6>
            </div>
        </form>
    </div>
</div>
